<!DOCTYPE html>
<html lang="en">
<head>

  {{>headerLinks}}
  
</head>
<body>

    {{>nav}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- right div -->
                <div class="col-md-12 col-12 main_header_left align-items-center">
                  <figure class="errorimg">
                      <img src="images/404error.png" class="img-fluid" alt="error page" >
                  </figure>
                  
                    <h1>oops, page not found</h1>
                    <a href="/"><button>Go Back</button></a>

                </div>
            </div>
            </div>
        </div>
    </div>

  {{>footer}}
</body>
</html>